---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Productos from "../components/productos/Productos.astro";
import PostProducto from "../components/productos/PostProducto.astro";
import Card from "../components/Card.astro";
import { Toaster, toast } from "sonner";
import HolaMundo from "../components/HolaMundo.astro";
//import Toa from "../components/Toa.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header/>
    <Productos/>
    <PostProducto/>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
