---

---

<header class="py8 px4 mx-auto max-w-xl lg:py16 lg:px-6 text-center">
  <h1 class="text-5xl text-white font-bold">SpaceX Lauches 🚀</h1>
  <img class="pt-4 mx-auto" src="nike.svg" alt="Nike">
</header>
