---
import Layout from "../../layouts/Layout.astro";
import H11 from "../../components/H11";

const titulo = "Titulo Principal";
const subtitulo = "Titulo Secundario";
const t_class = "text-blue-600 text-center text-8xl underline";
const st_class = "text-red-600 text-end text-4xl px-48";
---

<Layout title="Hola">
  <h2 class="text-red-600 text-2xl">/ruta 1</h2>
  <H11 {t_class} {titulo} {st_class} {subtitulo} />
</Layout>
